
/*==================== Text ====================*/

.font
{
    font-family: Helvetica, Sans-Serif;
}

.titleFont
{
    font-family: 'Wellfleet', cursive;
    color: rgb(23, 255, 6);
}

a{text-decoration: none;}

.email{color: white;}

.go_Center
{
    text-align: center;
}

.littleHeader
{
    text-align:  left;
    margin-top: -10px;
    padding-left: 27px;
    color: white;
    font: 25px Helvetica, Sans-Serif;
}


.odd{
    color: rgb(23, 255, 6);
    text-shadow: 1px 1px rgb(255, 253, 242);
    
}

.even
{
    color: rgb(255, 253, 242);
    margin-left: 35px;
    text-shadow: 1px 2px rgb(23, 255, 6);
}

.student_header
{
    color: rgb(23, 255, 6);
    margin-left: 35px;
    text-shadow: 1px 1px rgb(255, 253, 242);
}

.header 
{
	display: inline;
	position: relative;
	font: 200px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(23, 255, 6, 0.5);
	
}


.header:after 
{
	content: "CSSS";
	position: absolute; left: 25px; top: 5px;
	color: rgba(255, 253, 242, 0.5);
	
	
}

/*==================== Images ====================*/

img.uofscenter
{
    padding: 20px;
    width: 40%;
    display: block;
    margin: 0 auto;
}


/*==================== Sponsor ====================*/

.sponsor
{
    width: 300px;
    height: 1080px;
    background-color: rgba(142, 142, 142, 0.9);
    border-radius: 25px;
}

/*==================== Backgrounds ====================*/


.background-header
{
	background-color:rgba(0, 0, 0, 0.5);
	border-radius: 25px;

}

.background
{
	background-color:rgba(0, 0, 0, 0.5);
        border-radius: 25px;
}

.logo_background
{

	background-color:rgba(255, 255, 255, 0.5);
        border-radius: 25px;
}


img.sponsors
{

    width:80%;
    height: 100px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}



/*==================== Email ====================*/

form { width: 400px; }

label { float: left; width: 150px; font-size: 150%; font-family: Helvetica, Sans-Serif;}

input[type=text] { float: left; width: 250px; }

.clear { clear: both; height: 0; line-height: 0; }

.floatright { float: right; }
