

/*-----------------------Container-----------------------*/

.container_12 
{ 
    min-width: 960px;
    max-width: 90%; 
    margin: auto; 
    height: 100%; 
    position: relative;
}
	    

/*-----------------------Text-----------------------*/

.font
{
    font-family: Helvetica, Sans-Serif;
}

.titleFont
{
    font-family: 'Wellfleet', cursive;
    color: rgb(23, 255, 6);
}

.title
{
    color: white;
}

.littleHeader
{
    text-align:  left;
    margin-top: -10px;
    padding-left: 27px;
    color: white;
    font: 25px Helvetica, Sans-Serif;
}

h1.Exec_Name{
    color:rgb(255, 0,0);
    text-align: center;
    padding: 30px;
    font-family: Helvetica, Sans-Serif;
}

h1.Exec_Name2{
    color:rgb(152,245,255);
    text-align: center;
}

h2.Exec_Position{
    color:white;
    padding: 15px;
    padding-left: 50px;
    font-family: Helvetica, Sans-Serif;
}

.go_Center
{
    text-align: center;
}

.go_Left
{
    text-align: left;
}

.go_Right
{
    text-align: left;
}


.background-header
{
	background-color:rgba(0, 0, 0, 0.5);
	border-radius: 25px;
}

.background_exec_border1
{
    background-color: rgba(152,245,255,0.5);
    border-radius: 25px;
}

.background_exec_border2
{
   background-color: rgba(255, 0,0,0.5);
   border-radius: 25px;
}

.odd{
    color: rgb(23, 255, 6);
    text-shadow: 1px 1px rgb(255, 253, 242);
    
}

.even
{
    color: rgb(255, 253, 242);
    margin-left: 35px;
    text-shadow: 1px 2px rgb(23, 255, 6);
}

.student_header
{
    color: rgb(23, 255, 6);
    margin-left: 35px;
    text-shadow: 1px 1px rgb(255, 253, 242);
}

.header 
{
	display: inline;
	position: relative;
	font: 200px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(23, 255, 6, 0.5);
	
}


.header:after 
{
	content: "CSSS";
	position: absolute; left: 25px; top: 5px;
	color: rgba(255, 253, 242, 0.5);
	
	
}

/*-----------------------Picture-----------------------*/


img.Exec_L
{
    border-radius: 25px;
    height: 300px;
    width:250px;
}

img.Exec_R
{
    border-radius: 25px;
    height: 300px;
    width:245px;
}

#Lealand { 
    margin: 80px auto; 
    position: relative; 
    width: 290px; 
    height: 384px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#Lealand > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}


#Jason { 
    margin: 80px auto; 
    position: relative; 
    width: 290px; 
    height: 384px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#Jason > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}


#Alicia{ 
    margin: 80px auto; 
    position: relative; 
    width: 290px; 
    height: 384px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#Alicia > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}


#Thomas { 
    margin: 80px auto; 
    position: relative; 
    width: 290px; 
    height: 384px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#Thomas > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#Garrett { 
    margin: 80px auto; 
    position: relative; 
    width: 290px; 
    height: 384px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#Garrett > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}


#Daniel { 
    margin: 80px auto; 
    position: relative; 
    width: 290px; 
    height: 384px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#Daniel > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#Christina { 
    margin: 80px auto; 
    position: relative; 
    width: 290px; 
    height: 384px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#Christina > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}


#Alex { 
    margin: 80px auto; 
    position: relative; 
    width: 290px; 
    height: 384px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#Alex > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}


#Jesse { 
    margin: 80px auto; 
    position: relative; 
    width: 290px; 
    height: 384px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#Jesse > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}


#John { 
    margin: 80px auto; 
    position: relative; 
    width: 290px; 
    height: 384px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#John > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#Eden { 
    margin: 80px auto; 
    position: relative; 
    width: 290px; 
    height: 384px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#Eden > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}


#Peter { 
    margin: 80px auto; 
    position: relative; 
    width: 290px; 
    height: 384px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#Peter > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#Elicia { 
    margin: 80px auto; 
    position: relative; 
    width: 290px; 
    height: 384px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#Elicia > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}


#Mike { 
    margin: 80px auto; 
    position: relative; 
    width: 290px; 
    height: 384px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#Mike > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}


img.uofscenter
{
    padding: 20px;
    width: 40%;
    display: block;
    margin: 0 auto;
}

.sponsor
{
    width: 300px;
    height: 1080px;
    background-color: rgba(142, 142, 142, 0.9);
    border-radius: 25px;
}
