h1.join_form
{
    color: white;
    text-align: center;
    font-family: Helvetica, Sans-Serif;
}


.Join
{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 400px;
    background-color: black;
    border: solid;
    visibility: hidden;
    border-color: white;
    z-index: 500;
    -moz-box-shadow: 0 0 200px black;
    -webkit-box-shadow: 0 0 200px black;
    box-shadow: 0 0 200px black;
    border-radius: 25px;
}

.Join_color
{
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
    padding: 20px;
}

.Join_color2
{
    color: white;
    font-size: 15px;
    padding-left: 20px;
     padding-right: 10px;
}

div.wrapper
{
    width: 300px;
    height:300px;
    border:1px solid black;
}

input[type="text"] {
     display: block;
     margin : 0 auto;
}

table
{
     margin: 0 auto;
}

td
{
    padding: 10px;
    font-family: Helvetica, Sans-Serif;
    font-size: 20px;
}

.font
{
    font-family: Helvetica, Sans-Serif;
}
