
/*=========== Background ===========*/

.background
{
	background-color:rgba(0, 0, 0, 0.5);
        border-radius: 25px;
}

.logo_background
{
	background-color:rgba(255, 255, 255, 0.5);
        border-radius: 25px;
}

/*=========== Text ===========*/

.welcome_speech
{
    text-align: justify;
    font-size: 20px;
    color: white;
    padding: 10px;
    font-family: Helvetica, Sans-Serif;
}

.go_center
{
    text-align: center;
}

.red_text
{
    color: red;
}

.green_text
{
	color: rgb(23, 255, 6);
}

h2.header 
{
	display: inline;
	position: relative;
	font: 50px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(23, 255, 6, 0.5);
	
}


h2.header:after 
{
	content: "CSSS";
	position: absolute; left: 5px; top: 2px;
	color: rgba(255, 253, 242, 0.5);
	
	
}

.welcome
{
    font-size: 35px;
    font-family: 'Wellfleet', cursive;
    text-align: center;
}


/*=========== Images ===========*/

img.sponsors
{

    width:80%;
    height: 100px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.Lealand
{
    width: 100%;
    border-radius: 50px;
    padding-bottom: 20px;
}
