/* Button with Tool tip by Rubayath Rahman
http://www.techandall.com  */


/*
-------------------------------------
Facebook
-------------------------------------
*/


#Facebook li {
	display: block;
	width: 50%;
	font-weight: 400;
	margin-bottom: 1em;
	overflow: hidden;
	padding-top: 1.4em;
	padding-right: 2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
}
#Facebook span {
	display: block;
	border: 3px solid #325f83;  /*Button Border color and border size  - Techandall.com*/
	border-radius: 100%;  /* you can change the border radius if you want a square button, example 10%   - Techandall.com*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 7em;
	height: 7em;
	background: #01457b; /*Button background color  - Techandall.com*/
	color: #fff; /*Button font color  - Techandall.com*/
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	line-height: 1em;
	font-weight: 700;
	padding: 2.7em 0 0 0;
	text-align: center;
	margin: -1.4em 1em 0 0;
	text-transform: uppercase;
	float: left;
}
#Facebook span:hover {
	background: #fff !important;
	color: #5d6365; /*Button hover colors  - Techandall.com*/
	border: 3px solid #5d6365 !important;
	cursor: pointer;
}


/*
-------------------------------------
Event Calender
-------------------------------------
*/


#Calender li {
	display: block;
	width: 50%;
	font-weight: 400;
	margin-bottom: 1em;
	overflow: hidden;
	padding-top: 1.4em;
	padding-right: 2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
}
#Calender span {
	display: block;
	border: 3px solid #1c68a5;
	border-radius: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 7em;
	height: 7em;
	background: #3186ca;
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	line-height: 1em;
	font-weight: 700;
	padding: 2.7em 0 0 0;
	text-align: center;
	margin: -1.4em 1em 0 0;
	text-transform: uppercase;
	float: left;
}
#Calender span:hover {
	background: #fff !important;
	color: #5d6365;
	border: 3px solid #5d6365 !important;
	cursor: pointer;
}



/*
-------------------------------------
Meeting Minutes
-------------------------------------
*/


#Meeting li {
	display: block;
	width: 50%;
	font-weight: 400;
	margin-bottom: 1em;
	overflow: hidden;
	padding-top: 1.4em;
	padding-right: 2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
}
#Meeting span {
	display: block;
	border: 3px solid #c23a34;
	border-radius: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 7em;
	height: 7em;
	background: #f05851;
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	line-height: 1em;
	font-weight: 700;
	padding: 2.7em 0 0 0;
	text-align: center;
	margin: -1.4em 1em 0 0;
	text-transform: uppercase;
	float: left;
}
#Meeting span:hover {
	background: #fff !important;
	color: #5d6365;
	border: 3px solid #5d6365 !important;
	cursor: pointer;
}


/*
-------------------------------------
Current Executives
-------------------------------------
*/


#Current_Executives li {
	display: block;
	width: 50%;
	font-weight: 400;
	margin-bottom: 1em;
	overflow: hidden;
	padding-top: 1.4em;
	padding-right: 2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
}
#Current_Executives span {
	display: block;
	border: 3px solid #f38134;
	border-radius: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 7em;
	height: 7em;
	background: #ff6600;
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	line-height: 1em;
	font-weight: 700;
	padding: 2.7em 0 0 0;
	text-align: center;
	margin: -1.4em 1em 0 0;
	text-transform: uppercase;
	float: left;
}
#Current_Executives span:hover {
	background: #fff !important;
	color: #5d6365;
	border: 3px solid #5d6365 !important;
	cursor: pointer;
}



/*
-------------------------------------
Home
-------------------------------------
*/


#Home li {
	display: block;
	width: 50%;
	font-weight: 400;
	margin-bottom: 1em;
	overflow: hidden;
	padding-top: 1.4em;
	padding-right: 2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
}
#Home span {
	display: block;
	border: 3px solid #66ecbe;
	border-radius: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 7em;
	height: 7em;
	background: #c0eede;
	color: #406d5e;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	line-height: 1em;
	font-weight: 700;
	padding: 2.7em 0 0 0;
	text-align: center;
	margin: -1.4em 1em 0 0;
	text-transform: uppercase;
	float: left;
}
#Home span:hover {
	background: #fff !important;
	color: #5d6365;
	border: 3px solid #5d6365 !important;
	cursor: pointer;
}



/*
-------------------------------------
Career Fair
-------------------------------------
*/


#Career_Fair li {
	display: block;
	width: 50%;
	font-weight: 400;
	margin-bottom: 1em;
	overflow: hidden;
	padding-top: 1.4em;
	padding-right: 2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
}
#Career_Fair span {
	display: block;
	border: 3px solid #f88db6;
	border-radius: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 7em;
	height: 7em;
	background: #ea4c89;
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	line-height: 1em;
	font-weight: 700;
	padding: 2.7em 0 0 0;
	text-align: center;
	margin: -1.4em 1em 0 0;
	text-transform: uppercase;
	float: left;
}
#Career_Fair span:hover {
	background: #fff !important;
	color: #5d6365;
	border: 3px solid #5d6365 !important;
	cursor: pointer;
}



/*
-------------------------------------
Current Events
-------------------------------------
*/



#Current_Events li {
	display: block;
	width: 50%;
	font-weight: 400;
	margin-bottom: 1em;
	overflow: hidden;
	padding-top: 1.4em;
	padding-right: 2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
}
#Current_Events span {
	display: block;
	border: 3px solid #dc44e3;
	border-radius: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 7em;
	height: 7em;
	background: #d700fe;
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	line-height: 1em;
	font-weight: 700;
	padding: 2.7em 0 0 0;
	text-align: center;
	margin: -1.4em 1em 0 0;
	text-transform: uppercase;
	float: left;
}
#Current_Events span:hover {
	background: #fff !important;
	color: #5d6365;
	border: 3px solid #5d6365 !important;
	cursor: pointer;
}


/*
-------------------------------------
Contact Us
-------------------------------------
*/



#Contact_Us li {
	display: block;
	width: 50%;
	font-weight: 400;
	margin-bottom: 1em;
	overflow: hidden;
	padding-top: 1.4em;
	padding-right: 2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
}
#Contact_Us span {
	display: block;
	border: 3px solid #001cff;
	border-radius: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 7em;
	height: 7em;
	background: #fff700;
	color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	line-height: 1em;
	font-weight: 700;
	padding: 2.7em 0 0 0;
	text-align: center;
	margin: -1.4em 1em 0 0;
	text-transform: uppercase;
	float: left;
}
#Contact_Us span:hover {
	background: #fff !important;
	color: #5d6365;
	border: 3px solid #5d6365 !important;
	cursor: pointer;
}


